In [1]:
#Цикл с постоянным расходом
import prop
import pandas as pd
import numpy as np


streams = pd.read_excel("streams.xlsx",index_col=0)
blocks  = pd.read_excel("blocks.xlsx" ,index_col=0)


#Параметры нагревающей среды
gas     = "REFPROP::WATER"              #Состав газа
Tin     = 200                           #Температура газов на входе
Toutmin = 80                            #Температура газов на выходе
Ggas    = 100                           #Расход газов
Pgas    = 10                            #Давление газов
Hgasin  = prop.t_p(Tin,Pgas,gas)["H"]   #Энтальпия газов на входе


#Параметры ОЦР
fluid = "REFPROP::R236ea"
Ppump = 5                 #Давление на выходе из насоса
Pcond = 0.2               #Давление в конденсаторе
KPDpump = 0.8             #КПД насоса
KPDturb = 0.9             #КПД турбины
G = 100                   #Расход среды (на 1 шаге)
dTmin = 5                 #Минимальный напор в регенераторе
dTmin_heater = 10         #Напор в нагревателе


#Внос данных в таблицу
streams.loc["IN-HEAT", "T":"Q"] = [Tin, Pgas, Hgasin,prop.h_p(Hgasin,Pgas,gas)["S"], Ggas,1]


#Начало расчёта - поток перед насосом
streams.loc["COND-PUMP", "T":"Q"] = [prop.p_q(Pcond,0,fluid)["T"], Pcond, prop.p_q(Pcond,0,fluid)['H'],prop.p_q(Pcond,0,fluid)['S'], G, 0]

#Цикл для сведения с регенератором
for i in range(2):
    #Насос
    from modules import pump
    pump.calc("COND-PUMP","PUMP-REG", Ppump,KPDpump,fluid,streams,blocks)


    #Регенератор
    from modules import regen
    regen.calc("TURB-REG","REG-COND","PUMP-REG","REG-HEAT",dTmin, fluid, streams,blocks)


    #Нагреватель
    from modules import heater
    heater.calc("IN-HEAT","HEAT-OUT","REG-HEAT","HEAT-TURB",dTmin_heater,Toutmin, gas,fluid, streams,blocks)


    #Турбина
    from modules import turbine
    turbine.calc("HEAT-TURB","TURB-REG", Pcond,KPDturb,fluid,streams,blocks)


    # Регенератор
    from modules import regen
    regen.calc("TURB-REG","REG-COND","PUMP-REG","REG-HEAT",dTmin, fluid, streams,blocks)


    #Конденсатор
    from modules import condenser
    condenser.calc("REG-COND","COND-PUMP",fluid, streams,blocks)


streams

                    T     P           H         S      G    Q
IN-HEAT    200.000000  10.0  855.795516  2.317415  100.0  1.0
HEAT-OUT   151.232436  10.0  643.383717  1.843789  100.0  0.0
COND-PUMP   24.163111   0.2  230.020348  1.105003  100.0  0.0
PUMP-REG    26.554694   5.0  234.199578  1.107795  100.0  0.0
REG-HEAT    72.774581   5.0  293.442104  1.291482  100.0  0.0
HEAT-TURB  190.000000   5.0  505.853902  1.812036  100.0  1.0
TURB-REG    95.113832   0.2  451.988837  1.828426  100.0  1.0
REG-COND    31.554694   0.2  392.746311  1.652053  100.0  1.0

In [2]:
blocks

                       N             Q
PUMP          417.922974           NaN
TURBINE      5386.506463           NaN
REGENERATOR          NaN   5924.252584
CONDENSER            NaN  16272.596334
HEATER               NaN  21241.179823

In [3]:
#Баланс
print(blocks.loc['HEATER','Q']+blocks.loc['PUMP','N']-blocks.loc['CONDENSER','Q']-blocks.loc['TURBINE','N'])

KPD =(blocks.loc['TURBINE','N']-blocks.loc['PUMP','N'] )/ blocks.loc['HEATER','Q']
print(KPD)

9.094947017729282e-13
0.2339127831051779